<a href="https://colab.research.google.com/github/Jeongyoon-Jang/SOLUX_summer_data/blob/master/1%EC%A3%BC%EC%B0%A8/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88_4(7%EC%9B%9426%EC%9D%BC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
friends = [{'name': 'Jone', 'age': 20, 'job': 'student'},{'name': 'Jenny', 'age': 30, 'job': None},{'name': 'Nate', 'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friends)
df = df[['name', 'age', 'job']]

In [6]:
df.head()

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [9]:
df.to_csv('friends.csv', index = True, header = True, na_rep = '-') #데이터프레임을 csv파일로 저장, index, header이 True일 경우 원래대로, index를 False로 둘 경우 0 1 2 가 사라짐, na_rep = '-'는 non value은 '-'로 나온다는 뜻